body{
    background: url("search.jpg");
    background-repeat: no-repeat;
    margin:0px;
    padding: 0px;
    font-size: 20px;
    font-family: Arial;
}
#container{
    margin:0px auto;
    width: 700px;
    height:650px;
    text-align: left;
}
#head{
    margin:0px;
    padding: 5px 100px;
    width:700px;
    height: 200px;
}
#titlename{
    width:500px;
    height: 200px;
    background: url("titlename.png");
    background-repeat: no-repeat;
}
#searchbox{
    width:700px;  height:50px;
}
#query{
    width:580px;  height: 35px;  font-size: 25px;
}
#stb{
    width: 100px;  height:40px;  font-size: 20px;
}
#showbox{
    margin-top: 80px;
    margin-left: -100px;
    width:900px;
    height: 240px;
    background: url("showback.png") no-repeat;
    padding-top: 80px;
}
#showbox ul{
    list-style-type: none; margin:0px; padding: 0px;
}
#showbox ul li{
    float:left;
    text-align: center;
    width:200px;
    height: 50px;
}
#showbox ul li a{
     display: block;
 }
#showbox a:link ,#showbox a:visited{
   color:deepskyblue;
    text-decoration: underline;
}
#showbox a:hover{
    color:yellow;
    text-decoration: none;
}
