<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd        
      http://www.springframework.org/schema/aop         
      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd        
      http://www.springframework.org/schema/context         
      http://www.springframework.org/schema/context/spring-context-4.3.xsd        
      http://www.springframework.org/schema/tx         
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
      http://www.springframework.org/schema/cache 
      http://www.springframework.org/schema/cache/spring-cache-4.3.xsd">
	<!-- <bean id="..." class="..."> collaborators and configuration for this 
		bean go here </bean> <bean id="..." class="..."> collaborators and configuration 
		for this bean go here </bean> more bean definitions go here -->
		
<!-- 记得action要到这里来注册 -->
	<bean id="TestAction" class="nju.action.TestAction"></bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/data_integration?autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>
	
	
<!-- 声明要注入的组件所在的包 -->
	
	<context:component-scan base-package="nju">  
	</context:component-scan>
	


	<!-- 配置sessionFactory -->

	<!-- hibernate的配置-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="nju.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>
		<property name="mappingResources">
               <list>
               	  <value>hb/PlatformInfo.hbm.xml</value>
                  <value>hb/CinemaInfo.hbm.xml</value>
                  <value>hb/MovieInfo.hbm.xml</value>
               </list>
         </property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 定义 Autowired 自动注入 bean -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- 扫描有注解的文件 base-package 包路径 -->
	<context:component-scan base-package="nju" />
	<!-- 声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*Test" propagation="REQUIRED" />
			<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 定义切面，在zcx14.service包及子包中所有以Service结尾的方法中,执行有关的hibernate session的事务操作 -->
	<aop:config>
		<!-- 只对业务逻辑层实施事务 -->
		<aop:pointcut id="serviceOperation"
			expression="execution( * nju.service..*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>  
</beans>